body {
    background-color: antiquewhite;
}


.container {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.white {
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    background-color: white;
}

.black {
    height: 100px;
    width: 100px;
    background-color: black;
}